.news-list{
    width: 1000px;
    height: 500px;
    margin: 20px auto;
}
.news-list-label{
    width: 100%;
    padding: 10px;
    height: 40px;
    border-bottom: 3px solid red;
}

.news-catrgories{
    display: flex;
    height: 35px;
    padding-left: 100px;
    border-bottom: 1px solid rgb(220,220,220);
}
.news-catrgories a{
    font-size: 14px;
    width: 100px;
    height: 20px;
    text-decoration: none;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    cursor: pointer;
    
  }
  .news-catrgories a:hover{
    
    color: white;
    background-color: rgb(53,159,235);
  }